﻿
.source.logo
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

    height: 100px;

    display:inline !important;
}


.source.time
{
    line-height:4.5em;
    text-align:center;
}

.source.time text
{
    font-size: medium;
}

.source.time i.icon:hover
{
  color: #009FDA;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.source.container
{
    text-align: center;
}

.source.container i.icon:hover
{
  color: #009FDA;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}