﻿@model TopMusic.Web.ViewModels.TopMusicViewModel

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/TopMusic/css")

<div class="source container">
    <i class="large left arrow circular icon" data-bind="click: PreviousSource"></i>
    <img class="source logo ui image" data-bind="attr: { src: LogoUrl }">
    <i class="large right arrow circular icon" data-bind="click: NextSource"></i>
</div>

<div class="source time">
    <i class="large left arrow circular icon" data-bind="click: PreviousSnapshot"></i>

    <b>
        <i class="calendar icon"></i>
        <span data-bind="text: SnapshotFormatedTime"></span>
    </b>

    <i class="large right arrow circular icon" data-bind="click: NextSnapshot"></i>
</div>

<div>
    <table class="ui table segment" id="topTable">
        <thead>
            <tr>
                <th>No</th>
                <th>Artist</th>
                <th>Song</th>
            </tr>
        </thead>

        <tbody data-bind="template: { foreach: Songs,
                afterAdd: afterAddAnimation,
                beforeRemove: beforeRemoveAnimation }">
            <tr>
                <td data-bind="text: Position"></td>
                <td data-bind="text: Artist"></td>
                <td data-bind="text: SongName"></td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/topMusic.js")
    <script>

        var serverModel = @Html.Raw(Json.Encode(Model));

        var topMusicViewModel = new TopMusicViewModel(serverModel, "/TopMusic/GetNextSnapshot", "/TopMusic/GetNextSourceId");

        ko.applyBindings(topMusicViewModel);
    </script>
}